
__pycache__
*.py[cod]
*$py.class
*.sqlite3
*.map
*.rdb
*.local
*.tmp
.DS_Store
.env
.vite

*.local
*.toml
!*.example.toml


.vscode/
.idea/
storage/
tmp/

env/

config/*

dist/
wheels/

**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py
*.log