#result_list .row2 {
    background: #fff;
}

#result_list td:not(:last-child),
#result_list th:not(:last-child) {
    border-right: 1px solid #eee;
}

#result_list tr:nth-child(2n + 1) {
    background: #fff;
}

#result_list tr:nth-child(2n) {
    background: #f9f9f9;
}

.column-id,
.field-id {
    width: 1%;
}

.vTextField {
    width: 610px;
}

.dynamic-video-widget-btn:nth-child(3) {
    display: none;
}

.select2-container {
    width: min(100vw, 300px) !important;
}

.vTextField {
    max-width: 100vw;
    width: min(100%, 610px) !important;
}
